.grid {
	display: grid;
	grid-template-columns: repeat(12, 1fr [col]);
}

.flex {
	display: flex;
	flex-direction: column;
}

.head { grid-column: 3 / 7; }
.nav { grid-column: 7 / 10; }
.body { grid-column: 3 / 10; }
.foot { grid-column: 2 / 11; }

.title {
	grid-column: 4 / 10;
	display: grid;
	grid-template-columns: repeat(5, 1fr [col2]);
}

.greeting { grid-column: 2 / 4; }
.picture { grid-column: 3; }